<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="IS_SEND_MAIL" value="1" />
    <add key="IS_WRITE_LOG" value="1" />
    <add key="IS_CHECK_LASTVERSION" value="1" />
    <add key="LOTTERY_CATCH_PATH" value="http://www.taiwanlottery.com.tw/result_all.aspx" />
    <add key="DELIMITER_INFO" value=" " />
    <add key="DELIMITER_NUMBER" value="##" />
    <add key="MAIL_SLEEP_TIME" value="180000" />
    <add key="MAIL_SENDER_NAME" value="東森電視網站會員服務" />
    <add key="MAIL_SUBJECT" value="取得台灣彩券最新開獎資訊程式錯誤通知" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>