<table style="border-style:solid; border-collapse:collapse; border-color:Silver" height="218" width="550" align="center" border="1" cellpadding="1" cellspacing="1">
    <tbody>
        <tr>
            <td height="120" valign="top">
                <table width="498" align="center" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td height="112" width="496">
                                <span style="font-size:9pt; font-family:Verdana,Arial,Helvetica,sans-serif; line-height:15pt">
                                    您好：<br />
                                    此為取得台灣彩券最新開獎資訊程式，自動發送的通知信 ! 提醒您程式執行時<font color="red">發生錯誤</font>。<br />
                                    <br />
                                    =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=<br />
                                    <br />
                                    執行時間：<font color="red">{0}</font><br />
                                    錯誤原因：<font color="red">{1}</font><br />
                                    總共花費：<font color="red">{2}</font>秒<br /><br />
                                    注意：請勿回覆此電子郵件。<br />
                                    <br />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="23">
                <table width="548" align="center" bgcolor="#666666" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td>
                                <div align="center"><span style="font-size:9pt; color:#CCCCCC; font-family:Verdana,Arial,Helvetica,sans-serif">Copyright © {3} 東森電視. All rights reserved.</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>